.main{
    font-size: 18px;
}
.main-img{
    display: block;
    width:60%;
    margin: auto;
    padding: 30px;
}
ul.pagination li a {
    font-size: 22px;
    /*margin: 0 4px; */
    /* 0 is for top and bottom. Feel free to change it */
}